$color-uno: #E0AAFF;
$color-dos: #C77DFF;
$color-tres: #9D4EDD;
$color-cuatro: #7B2CBF;
$color-cinco: #5A189A;
$color-seis: #3C096C;
$color-siete: #240046;
$color-ocho: #10002B;
$colorbg: black;
// $font-family: 'Anybody', cursive;
// $font-family: 'Dongle', sans-serif;
// $font-family: 'Fauna One', serif;
$font-family: 'Anybody', cursive, 'Dongle', sans-serif, 'Fauna One', serif;