$color-uno: rgb(224, 170, 255);
$color-dos: rgb(199, 125, 255);
$color-tres: rgb(157, 78, 221);
$color-cuatro: rgb(123, 44, 191);
$color-cinco: rgb(90, 24, 154);
$color-seis: rgb(60, 9, 108);
$color-siete: rgb(36, 0, 70);
$color-ocho: rgb(16, 0, 43);
$colorbg: black;
$colortx: white;
$font-family: ('Anybody', 'cursive', 'Dongle', sans-serif, 'Fauna One', serif);